<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="actorBean" class="com.stackroute.domain.Actor">
    <constructor-arg name="gender" value="Male"></constructor-arg>
    <constructor-arg name="name" value="cooper"></constructor-arg>
    <constructor-arg name="age" value="42"></constructor-arg>
</bean>
    <bean id="actorBean1" class="com.stackroute.domain.Actor">
        <constructor-arg name="gender" value="feMale"></constructor-arg>
        <constructor-arg name="name" value="cooperain"></constructor-arg>
        <constructor-arg name="age" value="40"></constructor-arg>
    </bean>


    <bean name="movieBean1" class="com.stackroute.domain.Movie">
        <constructor-arg ref="actorBean1" />
    </bean>
    <bean class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy"/>

</beans>